<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PM_poshan_aahar</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_Admin</display-name>
    <servlet-name>Login_Admin</servlet-name>
    <servlet-class>pm_poshan.Login_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Admin</servlet-name>
    <url-pattern>/Login_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_School</display-name>
    <servlet-name>Add_School</servlet-name>
    <servlet-class>pm_poshan.Add_School</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_School</servlet-name>
    <url-pattern>/Add_School</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Supplier</display-name>
    <servlet-name>Add_Supplier</servlet-name>
    <servlet-class>pm_poshan.add_Supplier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Supplier</servlet-name>
    <url-pattern>/Add_Supplier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>School_Login</display-name>
    <servlet-name>School_Login</servlet-name>
    <servlet-class>pm_poshan.School_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>School_Login</servlet-name>
    <url-pattern>/School_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supplier_Login</display-name>
    <servlet-name>Supplier_Login</servlet-name>
    <servlet-class>pm_poshan.Supplier_Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supplier_Login</servlet-name>
    <url-pattern>/Supplier_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Student</display-name>
    <servlet-name>Add_Student</servlet-name>
    <servlet-class>pm_poshan.Add_Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Student</servlet-name>
    <url-pattern>/Add_Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search_Student</display-name>
    <servlet-name>Search_Student</servlet-name>
    <servlet-class>pm_poshan.Search_Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search_Student</servlet-name>
    <url-pattern>/Search_Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Student</display-name>
    <servlet-name>Update_Student</servlet-name>
    <servlet-class>pm_poshan.Update_Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Student</servlet-name>
    <url-pattern>/Update_Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change_Meal</display-name>
    <servlet-name>Change_Meal</servlet-name>
    <servlet-class>pm_poshan.Change_Meal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change_Meal</servlet-name>
    <url-pattern>/Change_Meal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert</display-name>
    <servlet-name>Insert</servlet-name>
    <servlet-class>pm_poshan.Insert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert</servlet-name>
    <url-pattern>/Insert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complaint</display-name>
    <servlet-name>Complaint</servlet-name>
    <servlet-class>pm_poshan.Complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complaint</servlet-name>
    <url-pattern>/Complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Add_Complaint</display-name>
    <servlet-name>Add_Complaint</servlet-name>
    <servlet-class>pm_poshan.Add_Complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Complaint</servlet-name>
    <url-pattern>/Add_Complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_Height</display-name>
    <servlet-name>Update_Height</servlet-name>
    <servlet-class>pm_poshan.Update_Height</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_Height</servlet-name>
    <url-pattern>/Update_Height</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View_Report</display-name>
    <servlet-name>View_Report</servlet-name>
    <servlet-class>pm_poshan.View_Report</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View_Report</servlet-name>
    <url-pattern>/View_Report</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Require</display-name>
    <servlet-name>Require</servlet-name>
    <servlet-class>pm_poshan.Require</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Require</servlet-name>
    <url-pattern>/Require</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Supplier_Require</display-name>
    <servlet-name>Supplier_Require</servlet-name>
    <servlet-class>pm_poshan.Supplier_Require</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Supplier_Require</servlet-name>
    <url-pattern>/Supplier_Require</url-pattern>
  </servlet-mapping>
</web-app>